.activity-stream-notify-area {
    text-align:center;
    color: white;
    font-weight:bold;
    font-size:1.2em;
    background: #1F7CAE;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.activity-stream-notify-area:hover {
	background: #6FB4DA;
}
